@import '../var.css';

section {
    background-color: var(--alice);
}

section .square {
    transform: skewY(-3deg);
    -ms-transform: skewy(-3deg);
    -webkit-transform: skewy(-3deg);

    padding: 50px 0 80px 0;
}

section .no-square {
    transform: skewY(3deg);
    -ms-transform: skewy(3deg);
    -webkit-transform: skewy(3deg);
}

section .sobre {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;

    padding: 50px 0 80px 0;
}

section .fa-chalkboard-teacher {
    color: var(--darkBlue);
    font-size: 5rem;
}

section .sobre .content .hr {
    margin: 20px 100px 20px 100px;
    border: solid 2px var(--darkBlue);
}

section .sobre .content {
    font-size: 1.1rem;
    max-width: 400px;
    margin-left: 70px;
}

section .content #title {
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 1.4rem;

    font-size: 1.4rem;
}

section .content #title > h2 {
    color: #281a52;
    text-shadow: var(--shadow-dark);
}

section .content > p {
    text-align: justify;
    line-height: 1.9;
}

section .background-tecno {
    background: linear-gradient(to right, var(--silver), #4c4cee);
}

section .tecnologias {
    display: flex;
    flex-direction: column;
}

section .title {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;

    font-size: 1.8rem;
}

section .fa-connectdevelop {
    color: var(--emerald);
    font-size: 5rem;
}

section .tecnologias .hr {
    margin: 20px 150px 20px 150px;
    border: solid 2px var(--darkBlue);
}

section .tecnologias .title > h2 {
    color: var(--alice);
    text-shadow: var(--shadow-white);
}

section .tec-row1 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
}

section .tec-row1 .img {
    max-width: 150px;
}

section .tec-row1 .img > img {
    width: 100%;
    height: 100%;
}

section .projetos {
    display: flex;
    flex-direction: column;
    justify-content: center;

    padding: 50px 0 80px 0;
}

section .projetos .fa-laptop-code {
    color: var(--azure);
    font-size: 5rem;
}

section .projetos .title > h2 {
    color: rgb(24, 46, 82);
    text-shadow: var(--shadow-dark);
}

section .projetos .hr {
    margin: 20px 100px 20px 100px;
    border: solid 2px var(--azure);
}

section .projetos .row1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

section .row1 .card {
    max-width: 400px;
    height: 400px;

    margin: 30px 0 30px 0;
}

section .row1 img {
    height: 100%;
    width: 100%;
    filter: brightness(0.6);
}

section .row1 img:hover {
    filter: none;
    box-shadow: 0 0 50px rgb(43, 40, 40), 0 0 15px var(--darkBlue);
}

section .row1 .mobile {
    max-width: 220px;
    height: 400px;
}

@media (max-width: 600px) 
{
    section .title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 15px;
    
        font-size: 1.5rem;
    }

    section .tecnologias .hr {
        margin: 20px 100px 20px 100px;
    }

    section .sobre .content {
        margin: 0 50px 0 50px;
    }

    section .sobre .content #title {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 1.4rem;
    }

    section .sobre .img {
        width: 350px;
        height: 300px;
    }

    section .sobre .img > img {
        width: 100%;
        height: 100%;
    }

    section .tecnologias .tec-row1 {
        padding: 0 50px 0 50px;
        gap: 40px;
    }

    section .tecnologias .tec-row1 .img {
        max-width: 100px;
    }
}